<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="ckan-graph-creator" version="1.0.2">
  <details>
    <title>CKAN Graph creator</title>
    <email>wirecloud@conwet.com</email>
    <description>A widget that allow a user what information to show in a linear graph</description>
    <doc>doc/index.html</doc>
    <authors>Aitor Magán &lt;amagan@conwet.com&gt;</authors>
  </details>
  <wiring>
    <outputendpoint name="flotr2-graph-config" type="text" label="Flotr2 Configuration" description="The configuration of your flotr2 graph" friendcode="flotr2-graph-data" />
    <outputendpoint name="googlecharts-graph-config" type="text" label="Google Charts Configuration" description="The configuration of your Google Charts graph" friendcode="google-charts-data" />
    <inputendpoint name="dataset" type="text" label="Data and Structure" description="A JSON with two fields: structure (for the structure of the data) and data (the data ifself)" actionlabel="Data and Structure" friendcode="dataset"/>
  </wiring>
  <contents src="index.html" cacheable="false" useplatformstyle="true"/>
  <rendering height="32" width="5"/>
</widget>
