<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="ckan-graph-creator-operator" version="1.0.3">
  <details>
    <title>CKAN Graph creator Operator</title>
    <authors>Miguel Garcia</authors>
    <image>images/ckan.png</image>
    <email>wirecloud@conwet.com</email>
    <description>An operator that allow a user what information to show in a linear graph</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <homepage>https://github.com/wirecloud-fiware/ckan-graph-creator-operator</homepage>
    <doc>doc/index.md</doc>
    <changelog>doc/changelog.md</changelog>
  </details>
  <preferences>
    <preference name="graph_type" type="text" description="Graph type" label="Graph type" default="linechart"/>
    <preference name="graph_series" type="text" label="Series" description="The data series that will be displayed in the graph"/>
    <preference name="graph_fields" type="text" description="Fields for the graph configuration. Depends on graph type." label="Fields"/>
  </preferences>
  <wiring>
    <outputendpoint name="flotr2-graph-config" type="text" label="Flotr2 Configuration" description="The configuration of your flotr2 graph" friendcode="flotr2-graph-data" />
    <outputendpoint name="googlecharts-graph-config" type="text" label="Google Charts Configuration" description="The configuration of your Google Charts graph" friendcode="google-charts-data" />
    <inputendpoint name="dataset" type="text" label="Data and Structure" description="A JSON with two fields: structure (for the structure of the data) and data (the data ifself)" actionlabel="Data and Structure" friendcode="dataset"/>
  </wiring>
  <scripts>
    <script src="shared/js/Flotr2Configurer.js"/>
    <script src="shared/js/GoogleChartConfigurer.js"/>
    <script src="js/CkanGraphCreatorOperator.js"/>
    <script src="js/main.js"/>
  </scripts>
</operator>
